<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbyVazmr7ofE58SydNnLVQNwNgJldHuAA</string>
	<key>GCM_SENDER_ID</key>
	<string>223292591394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.motorpool</string>
	<key>PROJECT_ID</key>
	<string>motorpool-cbde0</string>
	<key>STORAGE_BUCKET</key>
	<string>motorpool-cbde0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223292591394:ios:691542bdab06a5185d697b</string>
</dict>
</plist>